.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/lib/tmp
Gemfile.lock
spec/dummy/app/assets/javascripts/app/
spec/dummy/app/controllers/main_controller.rb
spec/dummy/app/views/main/
spec/dummy/app/views/templates/
spec/dummy/db/

