<div class="header" data-region="header">
</div>

<div class="content" data-region="content">
</div>

<div class="footer">
  <p>Master template defined in app/views/templates/_master.html.erb</p>
</div>
